.features {
    .container {
        .section-title {
            margin-block-end: 40px;
        }

        .grid-list {
            .feature-item {
                &:nth-child(2n+1) .feature-card {
                    background-color: var(--eerie-black-3);
                }

                &:nth-child(2n) .feature-card {
                    background-color: var(--smoky-black-3);
                }

                .feature-card {
                    padding: 30px 20px 40px;

                    &:hover .card-icon {
                        transform: scale(-1) rotate(180deg);
                    }

                    .card-icon {
                        max-width: max-content;
                        margin-inline: auto;
                        transition: var(--transition-2);
                    }

                    .card-title {
                        margin-block: 20px;
                    }

                    .card-text {
                        color: var(--quick-silver);
                        line-height: var(--lineHeight-6);
                    }
                }
            }
        }
    }
}