section.testi {
    background-image: url('../../assets/testimonial-bg.jpg');
    padding-block-end: 340px;
    position: static;

    .container {
        .quote {
            font-size: 7rem;
            font-family: var(--fontFamily-forum);
            line-height: 0.7em;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            gap: 2px;
            margin-block: 40px 50px;

            .separator {
                animation: rotate360 15s linear infinite;
            }
        }

        .profile .img {
            margin-inline: auto;
            border-radius: var(--radius-circle);
            margin-block-end: 15px;
        }

        .profile-name {
            color: var(--gold-crayola);
            font-weight: var(--weight-bold);
            text-transform: uppercase;
            letter-spacing: var(--letterSpacing-3);
        }
    }
}

@media (min-width: 992px) {
    .test .test-text {
        max-width: 910px;
        margin-inline: auto;
    }
}