.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 40px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);

  &.active {
    padding-block: 20px;
    background-color: var(--eerie-black-4);
    border-color: var(--black-alpha-15);
  }

  &.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
  }

  .btn {
    display: none;

    @media (min-width: 575px) {
      display: block;
      margin-inline-start: auto;
    }

    @media (min-width: 1200px) {
      margin-inline-start: 0;
    }
  }
  

  .container {
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .logo1 > img {
      transform: scale(1.5) translate(15px, 0);
    }

    .navbar {
      position: fixed;
      background-color: var(--smoky-black-1);
      top: 0;
      left: -360px;
      bottom: 0;
      max-width: 360px;
      width: 100%;
      padding-inline: 30px;
      padding-block-end: 50px;
      overflow-x: hidden;
      overflow-y: auto;
      visibility: hidden;
      z-index: 2;
      transition: var(--transition-2);

      &.active {
        visibility: visible;
        transform: translateX(360px);

        @media (min-width: 1200px) {
          all: unset;
          margin-inline: auto 20px;
        }
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--white-alpha-10);
      }

      .close-btn {
        color: var(--white);
        border: 1px solid currentColor;
        padding: 4px;
        border-radius: var(--radius-circle);
        margin-inline-start: auto;
        margin-block: 30px 20px;

        &:is(:hover, :focus-visible) {
          color: var(--gold-crayola);
        }

        .ion-icon {
          --ionicon-stroke-width: 40px;
        }
      }

      .logo2 {
        margin-block-end: 60px;
        transform: translateX(5.3rem) scale(1.4);
      }

      .navbar-list {
        border-block-end: 1px solid var(--white-alpha-20);
        margin-block-end: 100px;

        .navbar-item {
          border-block-start: 1px solid var(--white-alpha-20);

          .navbar-link {
            position: relative;
            font-size: var(--fontSize-label-2);
            text-transform: uppercase;
            padding-block: 10px;
            max-width: unset;

            &.active::after {
              transform: scaleX(1);
              opacity: 1;

              @media (min-width: 1200px) {
                transform: scaleX(1);
                opacity: 1;
              }
            }

            .span {
              transition: var(--transition-1);
            }

            &::after {
              display: none;

              @media (min-width: 1200px) {
                display: block;
              }
            }

            &:is(:hover, :focus-visible, .active) .span {
              color: var(--gold-crayola);
              transform: translateX(20px);

              @media (min-width: 1200px) {
                transform: unset;
              }
            }

            .separator {
              position: absolute;
              top: 50%;
              left: 0%;
              transform: translateY(-50%) rotate(45deg);
              opacity: 0;
              transition: var(--transition-1);

              @media (min-width: 1200px) {
                display: none;
              }
            }

            &:is(:hover, :focus-visible, .active) .separator {
              opacity: 1;
            }

            @media (min-width: 1200px) {
              font-weight: var(--weight-bold);
              letter-spacing: var(--letterSpacing-1);
            }
          }

          @media (min-width: 1200px) {
            border-block-start: none;
          }
        }

        @media (min-width: 1200px) {
          all: unset;
          display: flex;
          gap: 30px;
        }
      }

      .text-center {
        .navbar-title {
          margin-block-end: 15px;
        }

        .navbar-text {
          margin-block: 10px;
        }

        .body-4 {
          color: var(--quick-silver);
        }

        .sidebar-email {
          transition: var(--transition-1);

          &:is(:hover, :focus-visible) {
            color: var(--gold-crayola);
          }
        }

        .separator {
          margin: 30px auto;
        }

        .contact-label {
          margin-block-end: 10px;
        }
      }

      @media (min-width: 1200px) {
        all: unset;
        margin-inline: auto 20px;
      }
    }

    a.btn {
      padding: 12px 45px;
      background-color: var(--gold-crayola);
      color: var(--black);
      font-size: var(--fontSize-label-2);
      font-weight: var(--weight-bold);
      text-transform: uppercase;
      letter-spacing: var(--letterSpacing-5);
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--black-alpha-80);
      opacity: 0;
      pointer-events: none;
      transition: var(--transition-2);
      z-index: 1;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    @media (min-width: 1200px) {
      max-width: unset;
    }
  }
}

// SIDE NAVBAR TOGGLER
.nav-open-btn {
  padding: 12px;
  padding-inline-end: 0;

  .line {
    width: 30px;
    height: 2px;
    background-color: var(--white);
    margin-block: 4px;
    transform-origin: left;
    animation: menuBtn 400ms ease-in-out alternate infinite;

    @keyframes menuBtn {
      0% {
        transform: scaleX(1);
      }
      100% {
        transform: scaleX(0.5);
      }
    }
  }

  .line-2 {
    animation-delay: 150ms;
  }

  .line-3 {
    animation-delay: 300ms;
  }
}

@media (min-width: 575px) {
  .header {
    // top: 51px;

    &.active {
      top: 0;
    }
  }
}

@media (min-width: 768px) {
  .navbar-list {
    margin-inline: 30px;
  }
}

@media (min-width: 1200px) {
  .nav-open-btn,
  .navbar > *:not(.navbar-list),
  .header .overlay {
    display: none;
  }

  // .navbar,
  // .navbar.active {
  //   margin-inline: auto 20px;
  // }

  // .navbar-list {
  //   display: flex;
  //   gap: 30px;
  // }

  // .navbar-item {
  //   border-block-start: none;
  // }

  // .navbar .separator {
  //   display: none;
  // }

  // TO BE CONTINUED 05/15
  // YT 4:11:09
}
